<div>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark" >
   
    <a href="#" class="navbar-brand"></a>

    <a href="#" class="navbar-brand">Brasil Prev</a>

    <ul class="navbar-nav">

      <!-- FUNCIONDALIDE DO USUARIO -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Usuário</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <!-- <hr class="dropdown-divider"> -->
            <a class="dropdown-item" routerLink="/users-list">Lista de usuários</a>
            <a class="dropdown-item" routerLink="/add-user">Novo usuário</a>
          </li>
        </ul>
      </li>
      
      <!-- SEPARADOR -->
      <li class="nav-item">
        <a routerLink="add" class="nav-link"> | </a>
      </li>

      <!-- FUNCIONDALIDE INFORMACAO AUXILIAR-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Informação auxiliar</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <!-- <hr class="dropdown-divider"> -->
            <a class="dropdown-item" routerLink="/list-informacao-auxiliar">Lista de informação auxiliar</a>
            <a class="dropdown-item" routerLink="/hst-informacao-auxiliar">List de histórico de informação auxiliar</a>
            <a class="dropdown-item" routerLink="/add-informacao-auxiliar">Nova informação auxiliar</a>
            <a class="dropdown-item" routerLink="/edit-informacao-auxiliar">Editar informação auxiliar</a>
            
          </li>
        </ul>
      </li>
      
      <!-- SEPARADOR -->
      <li class="nav-item">
        <a routerLink="add" class="nav-link"> | </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/users-list">Contato</a>
      </li>


    </ul>

  </nav>
</div>
<div class="container">


</div>

<router-outlet style="padding-bottom: 500px;"></router-outlet>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<nav class="navbar navbar-expand-sm bg-success navbar-dark" style="padding-bottom: 50px;"> </nav>