<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por titulo"
        [(ngModel)]="tituloFilter" />

        <input
        type="text"
        class="form-control"
        placeholder="Buscar por nome"
        [(ngModel)]="nomeFilter" />

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="searchTitle()" >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />

  <div class="col-md-6">

    <div class="container">
      <h2>Lista de pessoas</h2>
      <br />
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Título</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody *ngFor="let pessoa of tutorials; let i = index" (click)="setActiveTutorial(pessoa, i)">
          <tr>
            <td>{{pessoa.title}}</td>
            <td>{{pessoa.description}}</td>
          </tr>
           
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <app-tutorial-details
      [viewMode]="true"
      [currentTutorial]="currentTutorial"
    ></app-tutorial-details>
  </div>
</div>
