<div class="container">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h2 class="h2">Lista de histórico de informação auxiliar</h2>
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID </th>
            <th scope="col">ID Informação auxiliar</th>
            <th scope="col">Nome da informação auxiliar</th>
            <th scope="col">Descrição da informação auxiliar</th>
            <th scope="col">Data de criação</th>
            <th scope="col">ID usuario de criação</th>
            <th class="text-center" scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let informacao of informacoesAuxiliar; let i = index">
            <th scope="row">{{ informacao.id }}</th>
            <td>{{ informacao.nome }}</td>
            <td>{{ informacao.descricao }}</td>
            <td>{{ informacao.dataCriacao }}</td>
            <td>{{ informacao.idUsuario }}</td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-primary"
                routerLink="/edit-informacao-auxiliar/{{ informacao.id }}"
              >
                Editar
              </button>
              <button class="btn btn-sm btn-danger" (click)="delete(informacao.id, i)">
                Remover
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  